#first {
	width: 250px;
	margin: 10px;
    float: left;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
	padding: 10px;
}


.card,.card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.margin{margin:16px!important}
.container{padding:0.01em 16px;}
.padding{padding:8px 16px!important}
.padding-16{padding-top:16px!important; padding-bottom:16px!important}
.white,.hover-white:hover{color:#000!important; background-color:#fff!important}
.white2,.hover-white2:hover{color:#000!important; background-color:#F1F1F1!important}
.margin-right{margin-right:16px!important}
.large{font-size:18px!important}
.left{float:left!important}
.overflow{overflow: hidden;}
